<?xml version="1.0"?>

<model>
  <name>Cafe table qr 1</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Ramón Calvo</name>
    <email>ramon@ramoncalvo.com</email>
  </author>

  <description>
    A model of a cafe table with qr 1.
  </description>

</model>
